*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}

/* cursor */
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #EDBFFF;
    position: fixed;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
    
}
.main{
    background-color:  #0F0D0D; ;
    cursor: none;
}
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}


/* navbar */
#nav{
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  padding: 0 30px;
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
}
#nav img{
    height: 26px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
#nav h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: PP mori;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid white;
}
#nav .circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

/* text section */
.page1 h1{
    font-size: 8vw;
    font-weight: 400;
    font-family: PP mori;
   
    margin-left: 6vw;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 400;
    font-family: PP mori;
    margin-left: 26vw;
}
    
.page1 video{
    background-color: red;
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

/* page 2  */
.page2{
    min-height: 80vh;
    padding: 100px 5vw;
    border-bottom: 2px solid #0F0D0D;
    position: relative;
    z-index: 9;
}
.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #111;
    font-family: PP mori;
}
.page2-container{
    /* background-color: red; */
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: purple; */
    width: 38%;
}
.page2-right{
    /* background-color: purple; */
    width: 26%;
}
.page2-left h2{
    color: #111;
    font-size: 3vw;
    font-family: PP mori;
    font-weight: 330;
    line-height: 4vw;
}
.page2-right p{
    color: #111;
    font-size: 28px;
    font-weight: 150;
    font-family: PP mori;
}
.page2-right button{
    /* background-color: white; */
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
}

/* page3 */
.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    position: relative;
    z-index: 9;
    /* background-color: red */
}
.page3 h1{
    font-size: 6.5vw;
    font-weight: 300;
    font-family: PP mori;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 0 30px;
}
.page3-part1 img{
    /* border: 2px solid white;
    padding: 10px;
    border-radius: 10px; */
    height: 400px;
    margin-top: 160px;
}
.page3-part1 video{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    height: 400px;
    margin-top: 40px;
}
.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part2 img{
    /* border: 2px solid white;
    padding: 10px;
    border-radius: 10px; */
    height: 400px;
    margin-top: 160px;
}
.page3-part2 video{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    height: 400px;
    margin-top: 6vw;
}
.page3-btm{
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 140px 100px;;
    border-bottom: 2px solid #fff;
    /* background-color: #EDBFFF; */
}
.page3-btm h1{
   color: #fff;
}
.circle{
    background: #ececec;
    height: 140px ;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: PP mori;
}

/* page 4 */
.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.page4> p{
    text-align: center;
    font-size: 0.9vw;
    position: relative;
    bottom: 40px;
    font-family: PP mori;
}

    
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
    height: 35vh;
}
.elem img:nth-child(3){
    right: 5%;
    height: 50vh;
}
.text-div{
    height: 14vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
    font-family: PP mori;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

/* page 5 */
.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
    /* background-color: red; */
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    font-family: PP mori;
    margin-bottom: 50px;
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    border-top: 2px solid #dadada;
}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

/* footer */
footer{
    height: 100vh;
    width: 100%;
    background-color: #EDBFFF;
}
.text{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 140px 100px;
    /* background-color: red; */
}
.text h1{
    font-size: 4vw;
    font-weight: 400;
    font-family: PP mori;
    color: #0F0D0D;
}

.circle {
    background: #ececec;
    height: 140px ;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: PP mori;
}
.circle h5{
    color: #0F0D0D;
}
.text2{
    background-color: #0F0D0D;
    height: 34%;
    width: 80%;
    margin-left: 10vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    box-shadow: 2px;
    box-shadow: 10px 9px 35px #7530caac;
}
.text2 a{
    text-decoration: none;
    /* background-color: #fff; */
    font-size: 2vw;
    transition: all ease-out 0.5s;
    /* transform: translateY(10%) ; */
}
.text2 .para{
    /* background-color: red; */
    width: 30%;
    font-family: PP mori;
    font-size: 1vw;
}

.text2  a:hover{
    transform: translateY(-50%) 
}


    